body {
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.toggle-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}
.toggle-btn-switch{
    background-color: #038a36;
}

.toggle-btn::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .toggle-btn::before {
    transform: translateX(30px);
}